.maintenance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f3f4f6;
    color: #333;
  }
  
  .maintenance-container .logo {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .maintenance-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .maintenance-container p {
    font-size: 1.5rem;
  }
  